* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* this is navbar section */
.navbar {
  max-width: 1600px;
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .navlist ul {
  display: flex;
  list-style: none;
  gap: 32px;
  color:#001931;
  font-size: 16px;
  font-family: 600;
  line-height: 152%;
  transition: all 0.3s;
}
/* list hover */
.navbar .navlist ul .li1{
  transition: all 0.3s;
}
.navbar .navlist ul .li1:hover{
  color: #30b868;
}
.navbar .navlist ul .li2{
  transition: all 0.3s;
}
.navbar .navlist ul .li2:hover{
  color: #30b868;
}
.navbar .navlist ul .li3{
  transition: all 0.3s;
}
.navbar .navlist ul .li3:hover{
  color: #30b868;
  /* text-transform: capitalize; */
}

/* . navlist ul li{
  font-size: 16px;
  color: #30b868;
} */
.navlogo img {
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  max-width: 139;
  max-height: 60px;
  transition: all 0.3s;
}
.navlogo img:hover{
  /* border: 0.5spx solid #FFFFFF; */
  background-color: #3b3a3aec;
  border-radius: 5px;
  
  /* border: 2px solid white; */
}
.navbutton button{
  background-color:#30b868 ;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px 16px;
  transition: all 0.3s;
  cursor: pointer;
}
.navbutton button:hover{
  background-color: #3b3a3aec;
  color: #30b868;
}
/* this is banner section */
.banner {
  max-width: 1600px;
  background-image: url("./images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;

}
/* .bannerearly{
  color: #30b868;
} */
 .banner-img h2{
  color: #f7f6f2;
  font-size: 68px;
  font-weight: 700;
  line-height: 84px;
  transition: all 0.3s;
 }
 .banner-img h2:hover{
  color: #30b868;
 }
 .banner-img h2 span{
  color: #30b868;
  font-size: 72px;
  transition: all 0.3s;
 }
 .banner-img h2 span:hover{
  color: #FFFFFF;
 }
 .banner-allscroll {
  color: #30b868;
  border-radius: 50px;
  padding: 5px;
  cursor:all-scroll;
 }
 .banner-img button:hover{
  background-color: #3b3a3aec;
 }

 .banner-img p{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
 }

.banner-img {
  padding: 115px 120px 179px 120px;
}
/* note section */
.note-section {
  padding: 0 120px;
  text-align: center;
}
.note-heading h2{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-bottom: 16px;
  transition: all 0.3s;
}
.note-heading h2:hover{
  color: #30b868;
}
.note-heading {
  padding-top: 50px;
}
.note-heading p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.note-info {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
  max-width: 1360px;
  max-height: 300px;
}
.note-info .info-card{
  padding: 24px;
  background-color: #fffefe;
  text-align: center;
  max-width: 322px;
  max-height: 300px;
}

/* Second Brain Section design */
.Second-Brain-Section {
  display: flex;
  max-width: 1360px;
  margin: 120px;
  gap: 60px;
}

.brainheading {
  max-width: 700px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.brainheading .first span{
  font-size: 16px;
  line-height: 20px;
  color: #30b868;
  transition: all 0.5s;
}
.brainheading .first span:hover{
  color: #001931;
  font-weight: 900;
}
.brainheading p{
  color: #627382;
  line-height: 20px;
  font-size: 16px;
 
 
}
.brainimg img:hover{
  box-shadow: 7px -2px 87px 23px rgba(8,222,120,0.56);
-webkit-box-shadow: 7px -2px 87px 23px rgba(8,222,120,0.56);
-moz-box-shadow: 7px -2px 87px 23px rgba(8,222,120,0.56);
  
}
.brainheading p:hover{
  color: #30b868;
}
.brainheading h2{
  color: #001931;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 16px;
  transition: all 0.5s;
}
.brainheading h2:hover{
  color: #30b868;
}
.listparent{
  padding-top: 35px;
}
.listparent .brainlist{
  padding-top: 5px;
  padding-bottom: 5px;
}
.brainlist p{
  color: red;
}
/* CHALLENGES (10 Marks) Early Access Section */
#Early-Access-Section {
  padding: 2px 120px 120px 120px;
  
}
.Early-Access-Section-child {
  background-color: #f7f6f2;
  padding: 80px 40px;
  text-align: center;
}
.Early-Access-Section-child h2 {
  font-weight: bold;
  font-size: 40px;
}
.Early-Access-Section-child p {
  font-size: 16px;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.Early-Access-Section-child button {
  background-color: #30b868;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.Early-Access-Section-child button:hover{
  background-color: #627382;
}
.btn {
    background-color:#30b868;
    cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s;
}
.btn:hover{
  background-color: #3b3a3aec;
  color: #30b868;
}


.Early-Access-Section-child button img {
}
.footer-parent {
  background-color: #001931;
  padding: 120px 120px 0px 120px;
  color: white;

.bigchild{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-copyright{
    text-align: center;
    padding: 30px;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
}
.bigchild .child2 p{
    font-size: 20px;
    font-weight: 500;
    line-height:28px;
    margin-bottom: 5px;
}
.bigchild .child2img img{
    margin-right: 16px;
}